<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>    
<div class="container "  >
    <div class="row" id="login">
        <h1 class="h-primary center" style="text-decoration: underline;">Fast Food</h1>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <a href="/menu/add-to-cart"><button  type="submit"  class="btn btn-primary" id="btn">Add to Cart</button></a>
                </div>
                <div class="col-lg-6">
                    <a href="/menu/remove-from-cart"><button  type="submit"  class="btn btn-primary" id="btn">Remove From Cart</button></a> 
                </div>
                <table class="table" >
                    <thead>
                        <tr>
                            <th class="h-secondary">Name</th>
                            <th class="h-secondary">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let items of menuItems){  %> 
                        <tr>  
                                <td class="h-secondary" name="foodName" id="foodName"><%= items.foodName %> </td>
                                <td class="h-secondary" name="price" id="price">Rs.<%= items.price%> </td>                
                        </tr>
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %> 